---
import "../global.css";
// @ts-ignore
import { pwaInfo } from 'virtual:pwa-info'

const imageFileNames = [
  "astronaut.avif",
  "doktor.avif",
  "fensterputzer.avif",
  "koch.avif",
  "fussball.avif",
  "tanzen.avif",
];

const initImage = Math.floor(Math.random() * imageFileNames.length);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    <script src="/src/pwa.ts"></script>
  </head>

  <body class="bg-neutral-950 h-full min-h-screen flex items-center justify-center p-8">
    <div class="flex flex-col items-center gap-8">
      <div class="border-2 rounded-md border-neutral-800 aspect-square overflow-hidden">
        <img id="current-image" width={600} height={600} class="object-cover w-full h-full"
          src={`/images/${imageFileNames[initImage]}`}
          alt="Zufälliges Bild einer Berufsfigur"
        />
      </div>

      <button id="next-image-button" class="px-4 py-2 bg-green-600 text-white font-semibold border border-green-700 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-neutral-950">
        Nächstes Bild
      </button>
    </div>
  </body>
</html>

<script define:vars={{ images: imageFileNames, initialSrc: initImage }}>
  const imageElement = document.getElementById("current-image");
  const nextButton = document.getElementById("next-image-button");

  const getRandomIndex = (_) => Math.floor(Math.random() * _.length);

  let currentImageSrc = initialSrc;

  const showNextRandomImage = () => {
    let nextImageSrc;
    do {
      nextImageSrc = images[getRandomIndex(images)];
    } while (nextImageSrc === currentImageSrc);
    imageElement.src = `/images/${nextImageSrc}`;
    currentImageSrc = nextImageSrc;
  };

  nextButton.addEventListener("click", showNextRandomImage);
</script>
